@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
*{
    margin:0;
    padding :0;
    box-sizing: border-box;
}
body{
    padding: 10px 10px;;
}


.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f5f5f5;
    color: black;
    height: 80px;
    
}

.head ul li{
    list-style-type: none;
    display: inline-block;
    padding: 4px 6px;
}
.head ul{
    margin-right: 30px;
}
.head h1{
    margin-left: 30px;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%),url("https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80");
    color: #f5f5f5;
    text-align: center;
    width: 100%;
    height: 472px;
    justify-content: center;
    line-height: 60px;
    text-transform: uppercase;
}
.intro h1{
    font-size: 60px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.intro button{
    background-color: rgb(0, 204, 255);
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    
}
.mc{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    background-color: #f5f5f5;
    padding: 40px 30px;
    

}
.skill-c{
    
    /* background-color: blue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* font-family: Arial, Helvetica, sans-serif; */
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    color: #585858;
    /* height: 600px; */
}
.skill-c i {
    font-size: 50px;
    /* width: fit-content; */
    border: 2px solid #333333;
    color: #333333;
    padding: 12px;
    
    border-radius: 50%;
}
.skill-c h2{
    text-transform: uppercase;
    padding: 16px 0px;
    font-size: 20px;
}

.skill-c  P{
   /* background-color: blue; */
    /* text-align: center; */
    margin: 4px 8px;
    /* text-align: justify; */
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 30px;
    /* text-align: center; */
    margin-right: 30px;
    margin-left: 25px;
    
}
.about img{
    width: 45%;
}
.about h2{
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
}
.about p{
    color: #585858;
    /* background: #000; */
}

footer{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height: 300px;
    background-color:#302f49;
    padding: 20px 40px;
    color: #f5f5f5;
    

}

 .foot-m{
    display: flex;
    justify-content: space-between;
    /* font-size: 55px; */
    /* background-color: #f5f5f5; */
    width: 30%;
    margin-right: 80px;
 }
 .footer-main{
    text-align: center;
    line-height: 35px;
 }
.footer-head{
    text-transform: uppercase;
}
 .footer-main ul{
    /* background-color: aqua; */
    list-style-type: none;
    color: #585858;
    
 }

 @media screen and (max-width:520px) {

  body{
    /* background: #000; */
  } 
  .intro h1{
    font-size: 40px;
 
} 
.mc{
    flex-direction: column;

}
.about{
    flex-direction: column;
}
footer{
    flex-direction: column;
}
.foot-m{
   flex-direction: column;
   /* background: #000; */
}
 }